*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #001e4d;
}

.App{
    width: 90%;
    max-width: 600px;
    background: #fff;
    text-align: center;
    border-radius: 10px;
    margin: 100px auto 0;
    padding: 20px;
}
.App h1{
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    color:#001e4d;
    padding: 20px 0;
    border-bottom: 1px solid #001e4d
    
}

#question{
    text-align: left;
    padding: 10px 0;
    color: #001e4d;
    font-size: 26px;
    font-weight: 500;
}

#answer-buttons{
    display: flex;
    flex-direction: column;
    
    justify-content: space-between;
}
.btn{
   
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
    padding: 15px 15px;
    margin: 10px 0;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
 
}
.btn:hover{
    background: #222;
    color: #fff;
}

.next{
   
    padding:10px 30px;
    margin: 15px;
    font-size: 22px;
    background:#001e4d;
    border-radius: 10px;
    cursor: pointer;
    color: #fff;
}
.next:hover{
    background: #222;
}